{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block head_title %}
    Form -
{% endblock head_title %}
    

{% block content %}
    <div class="container my-5">
        <h2 class="my-3 border-bottom">Form</h2>
        <form class="col-lg-4 mx-auto pt-3" action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="my-3 text-end">
                <button class="btn btn-outline-dark" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}
    